﻿@model DocFile

@*<h3>@ViewBag.Data</h3>*@

    <form asp-action="NewFile" name="FomuValidar" onsubmit="ValidadorFormu(event)" enctype="multipart/form-data">
        @{
            if (ViewBag.Editar != null)
            {
                <input type="hidden" name="Typeaction" id="Typeaction" value="Update" />
                <input type="hidden" asp-for="Id" />
            }
            else
            {
                <input type="hidden" name="Typeaction" id="Typeaction" value="Create" />
            }
        }

        Numero cotizacion:<br>

        <input asp-for="Numero" />
        <br>
        Archivo:<br>
        @{
            if (ViewBag.Editar is true)
            {
                <label class="switch">
                    <input type="checkbox" id="Change" name="chek" onclick="Funcion()">
                    <span class="slider round">Actualizar documento</span>
                </label>
                <label>
                    <input type="text" readonly style="display:block" asp-for="Nombre" />
                </label>
                <br />
                <input asp-for="Pdfdoc" style="display:none" onchange="File_changed()" />
                <input type="button" id="bcargar" value="cargar" onclick="cargarFile();" style="display:none" />
                @*<div id="respuesta" style="font-weight: bold;"></div>
                <input type="hidden" id="validador" name="validador" value="false" />*@
            }
            else
            {
                <input asp-for="Pdfdoc" onchange="File_changed()" />
                <input type="button" id="bcargar" value="cargar" onclick="cargarFile();" />
            }
            <div id="respuesta" name="respuesta" style="font-weight: bold;"></div>
            <input type="hidden" id="validador" name="validador" value="false" />
        }
        <br />
        <input type="submit" />

    </form>

    @*<form method="post" id="Perrito" name="Perrito">
        <input type="text" value="Hola" />
    </form>*@

<table border="1">
    <tr>
        @*<th>Id</th>*@
        <th>Numero cotizacion</th>
        <th>Nombre del archivo</th>
        <th>Descargar</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    @foreach (TblDocumento d in ViewBag.Datos)
    {
        <tr>
            @*<td>@d.IdDocu</td>*@
            <td>@d.Numero</td>
            <td>@d.Nombre</td>
            <td><a asp-action="DownloadFile" asp-route-Id="@d.IdDocu">Download</a></td>
            <td><a asp-action="NewFile" asp-route-Typeaction="PasData" asp-route-Id="@d.IdDocu">Editar</a></td>
            <td><a asp-action="NewFile" asp-route-Typeaction="Delete" asp-route-Id="@d.IdDocu">Eliminar</a></td>
        </tr>
    }
    </table>

<script>

    //function Funcion() {
    //    var check = document.getElementById("Change");
    //    var ifile = document.getElementById("Pdfdoc");
    //    var nombrepdf = document.getElementById("Nombre");

    //    if (check.checked == true) {
    //        ifile.style.display = "block"
    //        nombrepdf.style.display = "none"
    //    } else {
    //        ifile.style.display = "none";
    //        nombrepdf.style.display = "block"
    //    }
    //}

    //function ValidadorFormu(evt) {
    //    var formulario = document.FomuValidar;
    //    var condicion = true;

    //    if (formulario.chek.checked == true) {
    //        if (formulario.Pdfdoc.value.length != 0 && formulario.validador.value == "false" ) {
    //            alert("El archivo debe ser validado");
    //            condicion = false;
    //        }
    //        else if(formulario.Pdfdoc.value.length == 0 && formulario.validador.value == "false"){
    //            alert("No puedes remplazar un archivo existente con uno vacio");
    //            condicion = false;
    //        }
    //    }


    //    if (condicion) { condicion = confirm('Quieres actualizar el registro?'); }
    //    if(!condicion) {
    //        if(evt.preventDefault) { event.preventDefault(); }    
    //        else if(evt.returnValue) { evt.returnValue = false; }    
    //        else { return false; }
    //    }
    //}

</script>

<script src="~/js/site.js" ></script>



@*<script>
    function checkform(evt) {
        var myForm = document.frmhot;
        var condition = true;
        if (myForm.status.value == "") {
            alert("Please select a timeframe status.");
            myForm.status.focus();
            condition = false;
        }
        if (myForm.line.value == "") {
            alert("Please select a line.");
            condition = false;
        }
        if (myForm.reason.value == "") {
            alert("Please select a reason code.");
            condition = false;
        }
        if (myForm.partnum.value == "") {
            alert("Please enter a part number.");
            condition = false;
        }
        if (myForm.badgescan.value == "") {
            alert("Please enter a badge number.");
            condition = false;
        }
        if (condition) { condition = confirm('Do you want to submit the form?'); }

        if (!condition) {
            if (evt.preventDefault) { event.preventDefault(); }
            else if (evt.returnValue) { evt.returnValue = false; }
            else { return false; }
        }
    }
</script>*@

